:root{
  --color-1: #F7C5D9;
  --color-2: #D8AEE8;
  --color-3: #AB9875;
  --color-4: #F9F6F0;
  --color-5: #9BD3BF;
}

/*   box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0, 0.45);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}


body {
  font-family: "Raleway", sans-serif;
}

button, a {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.bg-main{
  width: 100%;
  min-height: 2500px;
  background-image: url('assets/img1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fix-zindex{
  position: relative;
  z-index: 2;
}

.overlay{
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background:rgba(149, 99, 99, 0.3);
  min-height: 2700px;
} 

.logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}



header h1{
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  color: var(--color-1);
  font-size: 30px;
  top: 240px;
  width: 300px;
  font-weight: 500;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
}

header p{
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  color: white;
  top: 330px;
  letter-spacing: 2px;
  width: 400px;
  font-size: 15px;
  font-weight: 480;
}

.button-contact {
  border-radius: 10px;
  padding: 14px 28px;
  color: #fff;
  background-color: var(--color-3);
  border: 0;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  margin-top: 410px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
}



.box-img{
  border-radius: 10px;
  position: relative;
  top: 135px;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height: 500px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.button-contact {
  animation: scaleButton 1.1s alternate infinite;
}



@keyframes scaleButton {
  from {
    transform: translate(-45%);
  }
  to {
    transform: translate(-55%);
  }
}


.before, .after{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
}

span{
  padding: 10px 20px;
  color: #fff;
  background-color: var(--color-3);
  border-bottom-right-radius: 10px;
}

.after{
  left: 100%;
  transition: left 1s;
}

.box-img:active .after{
  left: 0%;
}

#procedimentos h2{
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
  min-width: 400px;
  position: absolute;
  top: 30px;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  color: var(--color-4);
  font-weight: 300;
}

.overlay-2{
  z-index: 2;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 530px;
  background:rgba(146, 108, 108, 0.65);
  min-height: 700px;
} 

.line{
  position: absolute;
  top: 490px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-5);
  min-width: 90%;
  border-radius: 10px;
}

.line-2{
  position: absolute;
  top: 1269px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-5);
  min-width: 90%;
  border-radius: 10px;
}

.about{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 1314px;
  z-index: 9;
}


.about-content h2{
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
  color: var(--color-1);
  font-size: 33px;
  font-weight: 600;
  margin-top: -14px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.about-description-p2{
  margin-top: 9px;

}

.about-content img{
  height: 85%;
  width: 85%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 70px;
}

.about-content p{
  color: white;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}

.about-content h2{
  min-width: 420px;

  padding: 3px;
}

.about-description-p2 p{
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
}

.about-content p{
  min-width: 420px;

  padding: 3px;
}

.overlay-3{
  z-index: 2;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 1720px;
  background:rgba(146, 108, 108, 0.85);
  min-height: 284px;
} 

.line-3{
  position: absolute;
  top: 2040px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-5);
  min-width: 90%;
  border-radius: 10px;
}

section.services{
  position: absolute;
  top: 2080px;
}

.services{
  background:rgba(248, 248, 248, 0.85);
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.map{
  margin-top: -800px;
  z-index: 2;
}

.services-content h2 {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.291);
  color: #232224;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  color: #232224;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: center;
  max-width: 780px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  margin-top: 5px;
}
.product img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.2s;
}

.product img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.product-info {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #fff;
}

.product-info button {
  color: #fff;
  background-color: #d94140;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 200;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  background-color: #232224;
  color: #fff;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.footer {
  margin-top: -5px;
  background-color: var(--color-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 29px;
  color: #fff;
}

.footer-icons a{
  color: var(--color-1);
}


.line-4{
  position: absolute;
  top: 2638px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid var(--color-5);
  min-width: 90%;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
}


@media screen and (max-width: 768px){
  .bg-main{
    background-image: url('assets/img1.jpg');
    min-height: 3500px;
  }
}